body{
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{
    content: '';
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress{
    background-color: #3498db;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}

.step{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: white;
    border-color: #e0e0e0;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    transition: .4s ease;
}

.step.active{
    border-color: #3498db;
    color: black;
}

.btn{
    background-color: #3498db;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.96);
}

.btn:disabled:active{
    transform: scale(1);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: gray;
    cursor: not-allowed;
}